[user]
	name = Loup Menjoulet
	email = lmenjoulet@laposte.net
{{- if eq .chezmoi.os "linux"}}
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = cache --timeout 7200
	helper = oauth
{{- end}}
{{- if eq .chezmoi.os "windows"}}
[credential "helperselector"]
	selected = manager
{{- end}}
